{% extends 'base.html' %}
{% load i18n %}

{% block header %}{% endblock %}
{% block content %}
<h1 class="my-3 text-left">Удаление пользователя</h1>
<form class="text-left" method="post">
    {% csrf_token %}
    <p>{% translate 'Вы действительно хотите удалить пользователя'%}
        {% if user.username %}
            '{{ user.username }}'
        {% else %}
            {{ user.first_name }} {{ user.last_name }}
        {% endif %}?
    </p>
    {{ form }}
    <button type="submit" class="btn btn-danger" value="Confirm">{% translate 'Да, удалить' %}</button>
</form>
{% endblock content %}