{% load i18n bootstrap4 %}
{% get_current_language as LANGUAGE_CODE %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% bootstrap_css %}
    </head>

    <body class="d-flex flex-column min-vh-100">
        <header>
            {% include 'components/navbar.html' %}
        </header>

        <main class="container mt-4">
            {% include 'components/messages.html' %}
            {% block content %}{% endblock %}
        </main>

    </body>
</html>